html{
 
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: auto;
  margin: 0;

}

.App {
  display: flex;
  align-content: flex-end;
  justify-content: center;  
  text-align: center;
  height: 100%;
  width: auto;
  margin: 0;
}

.App h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmax;
  color: lightslategrey;
}

.App hr{
  width: 70%;
  margin-top: 10px;
  height: 3px;
  background-color:lightslategrey;
  color: lightslategrey;
  border: none;
}

.user-home {
  justify-self: center;
  align-self: center;
  background-color: #f6f6f6;
  height: 135vmax;
  width: 60vmax;
}

.user-home button{
  background-color: #00cc7a;
  border: 1px #00cc7a solid;
  border-radius: 15px;
  color: white;
  width: 50vmax;
  height: 10vmax; 
  font-size: 5vmax;
}

.App .user-home img{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 50px;
}
