.payment {
  font: OpenSans800;
  color:#413670;
}

.payment-card {
  border: 3px solid none;
  width: 400px;
  height: 300px;
  border-radius: 40px;
  background-color: #fafcfc;
 
}

.border-wrap {
  background:  linear-gradient(
    135deg,
    rgb(100, 95, 205) 0%,
    rgb(105, 233, 245) 100%
  );
  width: 408px;
  height: 308px;
  border-radius: 40px;
}

.StripeElement {
  margin: 25px auto;
  margin-bottom: 45px;
  padding: 15px 15px;
  color: #32325d;
  border-radius: 4px;
}

.btn-pay {
  display: block;
  width: 50%;
  margin-left: 100px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(
    135deg,
    rgb(100, 95, 205) 0%,
    rgb(105, 233, 245) 100%
  );
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}


.logo {
  height: 100px;
  width: 100px;
  margin-left: 15px;
  text-align: left;
}

.col-1 {
  float: left;
  width: 50%;
}

.row-1:after {
  content: "";
  display: table;
  clear: both;
}


.col-2 {
  float: left;
  width: 50%;
}

.row-2:after {
  content: "";
  display: table;
  clear: both;
}

.col-3 {
  float: left;
  width: 50%;
}

.row-3:after {
  content: "";
  display: table;
  clear: both;
}